.nav {
    width:100%;
    position:fixed;
    top:0;
    height:4rem;
    z-index:100;
    background-color:var(--black2);
    padding:0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  }
  .navicon{
    display:flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    height:100%;
    font-size: 1em;
    border-radius:10px;
    margin-right:0.5em;
    cursor:pointer;
  }
  .navicon:first-child{
    margin-right: auto;
    color:var(--yellow);
    font-weight: bold;
    text-decoration: none;
    margin-left:0.5rem;
    width:unset;
  }
  .navicon svg {
      height: 80%;
      width: 80%;
  }
  svg path{
    stroke:var(--yellow)
  }
  img{
    width:55px;
  }
  .navicon:first-child{
    margin-right: auto;
    color:var(--yellow);
    font-weight: bold;
    text-decoration: none;
    margin-left:0.5rem;
    width:unset;
  }
  img:first-of-type{
    width:150px
  }