
:root {
  --white: rgb(240, 240, 240);
  --black: rgb(15,15,15);
  --blue4: hsl(217, 63%, 14%);
  --blue3: hsl(223, 48%, 25%);
  --blue2: hsl(229, 33%, 36%);
  --blue1: hsl(234, 35%, 57%);
  --yellow: hsl(50, 90%, 50%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size:14px;
  color:var(--white);
  background-color:var(--blue4);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  width:100%;
  position:fixed;
  top:0;
  height:4rem;
  z-index:100;
  background-color:var(--blue2);
  padding:0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}
.nav-icon{
  display:flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height:100%;
  font-size: 1em;
  border-radius:10px;
  margin-right:0.5em;
  background-color:var(--blue2);
  cursor:pointer;
}
h1.nav-icon{
  margin-right: auto;
}
.nav-icon svg {
    height: 80%;
    width: 80%;
}
.bodywithnav{
  position: absolute;
  height: calc(100% - 4rem);
  top:4rem;
  width:100%;
}
.placeholder{
  background-image: url('./assets/images/placeholder.png');
  width: 150px;
  height: 100px;
}
.QuizContainer{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap:0.5rem;
  margin-top: 2em;
  overflow-y: scroll;
}
.QuizInfo{
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: linear-gradient(60deg,var(--blue3),var(--blue1));
  border-radius: 2em;
  padding: 2em;
  width: 80%;
}
.QuizInfo img{
  width: 30%;
}
.QuizInfo span{
  width: 40%;
}
.QuizInfo button{
  width: fit-content;
  margin:auto;
  padding:2em;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

}
h1{
  color:var(--yellow);
  font-size:40px;
  margin:0;
}
h2{
  color:var(--yellow);
  font-size:30px;
  margin:0;
}
h3{
  color:var(--yellow);
  font-size:20px;
  margin:0;
}
label{
  width:100%;
}
input{
  width:30%;
  padding:1rem;
  border:none;
  appearance: none;
  border-radius:1em;

}
input:focus{
}
button{
  border:none;
  border-radius: 1em;
  color:var(--black);
  background-color: var(--yellow);
  font-size: 1.5rem;
  transition:0.5s;
  cursor:pointer;
}
button:hover{
  transform:scale(1.1);

}