
:root {
  --white: #ededed;
  --black1: #171617;
  --black2: #212021;
  --blue4: hsl(248, 29%, 31%);
  --blue3: hsl(223, 48%, 25%);
  --blue2: hsl(229, 33%, 36%);
  --blue1: hsl(234, 35%, 57%);
  --yellow: #f2cc0d;
  --purple: #ad1ad1;
  --green: #1f583c;
  --red: #491010;
  --fxs:0.7rem;
  --fs:0.8rem;
  --fl:1.1rem;
  --fxl:1.3rem;
  --fxxl:1.5rem;
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;300;500&family=Raleway:wght@300;500;800&display=swap');

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: .75em;
  height: .75em
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black2);
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,0.3);
  border-radius:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        var(--yellow) 35%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        var(--yellow));
  border-radius:5px;
}

body {
  margin: 0;
  font-size:14px;
  color:var(--white);
  background-color:var(--black1);
  font-family: 'Poppins'; /*font-weight:100,300,500*/
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size :var(--fxs);
    opacity:0.5;

}

.bodywithnav{
  position: absolute;
  height:100%;
  padding-top:4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100%;
}
.placeholder{
  background-image: url('./assets/images/placeholder.png');
  width: 150px;
  height: 100px;
}
.QuizContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  flex-direction: column;
  align-content: space-between;
  align-items: start;
  gap: 1rem;
  padding: 1em;
  /* margin-top: 2em; */
  overflow-y: scroll;
  height: 90%;
  justify-content: start;
  justify-items: center;
  scrollbar-color: linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
transparent 25%,
var(--yellow) 35%,
transparent 50%,
rgba(255, 255, 255, .2) 50%,
rgba(255, 255, 255, .2) 75%,
transparent 75%,
var(--yellow)) transparent; /* thumb and track color */
  scrollbar-width: thin;
}
.QuizInfo{
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: var(--black2);
  border-radius: 2em;
  padding: 2em;
}
.QuizInfo img{
  width: 30%;
}
.QuizInfo span{
  width: 40%;
  font-size: var(--fxs);
}
.QuizInfo button{
  width: fit-content;
  margin:auto;
  padding:2em;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

}
h1{
  color:var(--yellow);
  font-size:var(--fxxl);
  margin:0;
}
h2{
  color:var(--yellow);
  font-size:var(--fxl);
  margin:0;
}
h3{
  color:var(--yellow);
  font-size:var(--fl);
  margin:0;
}
label{
  width:100%;
}
input{
  width:30%;
  min-width:250px;
  padding:1rem;
  border:none;
  appearance: none;
  border-radius:1em;

}
input:focus{
}
button{
  border:none;
  appearance: none;
  border-radius: 1em;
  color:var(--black1);
  font-size: var(--fl);
  background-color: var(--yellow);
  transition:0.5s;
  cursor:pointer;
  
  font-family: 'Indie Flower', cursive!important;
}
button:hover{
  transform:scale(1.1);

}